[submodule "Atlus-Script-Tools"]
	path = Atlus-Script-Tools
	url = https://github.com/tge-was-taken/Atlus-Script-Tools.git
[submodule "CriPakTools"]
	path = CriPakTools
	url = https://github.com/Xzonn/CriPakTools.git
